@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: poppins, Arial;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
}

body {
  background-color: #444F6B;
  color: #FFF;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 20px;
}

.navigation {
  background-color: #3D4760;
  position: absolute;
  width: 100%;
  height: 3em;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  font-size: 14px;
}

.navigation__list__logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em;
}

.navigation__list__logo a img {
  width: 2.5em;
}

.navigation__list__item {
  padding: 1em;
}

.navigation__list__item a {
  color: #FFF;
  text-decoration: none;
}

.homepage {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  overflow: hidden;
}

.homepage__background {
  opacity: 0.1;
}

.homepage__background__hexagon {
  overflow: hidden;
  position: absolute;
  width: 30%;
  z-index: -12;
  -webkit-filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.7));
  pointer-events: none;
}

.homepage__background__hexagon:nth-child(1) {
  left: -12%;
  top: 20%;
  width: 38%;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

.homepage__background__hexagon:nth-child(2) {
  left: 10%;
  top: 90%;
  width: 28%;
  -webkit-transform: rotate(-14deg);
          transform: rotate(-14deg);
}

.homepage__background__hexagon:nth-child(3) {
  left: 90%;
  top: 40%;
  width: 25%;
  -webkit-transform: rotate(-14deg);
          transform: rotate(-14deg);
}

.homepage__background__hexagon:nth-child(4) {
  left: 50%;
  top: 60%;
  width: 28%;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.homepage__background__hexagon:nth-child(5) {
  left: 80%;
  top: 3%;
}

.homepage__content {
  padding: 8em 4em 4em 4em;
  text-align: center;
}

.homepage__content h2 {
  margin: 2em 0;
}

.homepage__content__scroll__circle {
  animation: scrolling 1s infinite alternate-reverse;
}

.homepage__figure {
  width: 100%;
  pointer-events: none;
}

.homepage__figure img {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
  -webkit-filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.7));
}

.about {
  background-color: #3D4760;
  position: relative;
}

.about__content {
  padding: 3em;
}

.about__content__button {
  display: block;
  margin: 0 auto;
  border-style: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: #A57F5A;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  margin-top: 2em;
  margin-bottom: 2em;
}

.about__content__button:hover {
  background-color: #856749;
  cursor: pointer;
}

.about__skills__first {
  position: relative;
  z-index: 1;
  background-color: #444F6B;
  width: 87.5%;
  margin-left: 12.5%;
  margin-bottom: 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  left: 0;
  pointer-events: none;
}

.about__skills__first__header {
  padding: 1.5em 1.5em 1em 1.5em;
}

.about__skills__first__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
  padding: 0 2em 2em 2em;
}

.about__skills__first__grid__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 0;
}

.about__skills__first__grid__icon img {
  padding-right: 0.8em;
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.about__skills__second {
  position: relative;
  z-index: 1;
  background-color: #444F6B;
  width: 87.5%;
  margin-left: 12.5%;
  margin-bottom: 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  left: 0;
  pointer-events: none;
}

.about__skills__second__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
  padding: 0 2em 2em 2em;
}

.about__skills__second__grid__header {
  padding: 1.5em 1.5em 1em 1.5em;
}

.about__skills__second__grid__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 0;
}

.about__skills__second__grid__icon img {
  padding-right: 0.8em;
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.about__overlap {
  background-color: #444F6B;
  position: absolute;
  width: 100%;
  height: 25px;
  bottom: 0;
}

.projects {
  padding: 3em;
}

.projects__project {
  margin: 4em 0;
}

.projects__project__figure {
  height: 100%;
  margin-bottom: 0.5em;
}

.projects__project__figure__overlay {
  display: none;
}

.projects__project__figure img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.projects__project__content {
  background-color: #3D4760;
  border-radius: 10px;
  padding: 2em;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.projects__project__content__link {
  color: white;
}

.projects__project__content__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[1];
      grid-template-rows: repeat(1, auto);
  margin-top: 2em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  grid-auto-flow: column;
  position: relative;
}

.projects__project__content__icons__date {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-style: italic;
}

.projects__project__content__icons img {
  width: 25px;
  height: 25px;
  pointer-events: none;
  padding-left: 0.5em;
}

.contact {
  background-color: #3D4760;
  padding: 3em;
}

.contact__content__text {
  padding: 2em 0;
}

.contact__content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1em;
}

.contact__content__info span {
  padding-left: 1em;
  line-height: 100%;
}

.contact__content__form {
  width: 100%;
}

.contact__content__form__input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #FFF;
  margin-bottom: 2em;
  padding-bottom: 0.25em;
  color: #FFF;
}

.contact__content__form__input:focus {
  outline: none;
  caret-color: #FFF;
}

.contact__content__form__message {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  border: 1px solid #FFF;
  padding: 1em;
  color: #FFF;
}

.contact__content__form__message:focus {
  outline: none;
  caret-color: #FFF;
}

.contact__content__form__button {
  display: block;
  margin: 0 auto;
  border-style: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: #A57F5A;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  margin-top: 1em;
}

.contact__content__form__button:hover {
  background-color: #856749;
  cursor: pointer;
}

.footer {
  background-color: #333;
  padding: 1em 2em;
  position: relative;
}

.footer__copyright {
  font-size: 11px;
  padding-right: 1em;
}

.footer__icons {
  display: -ms-grid;
  display: grid;
  position: absolute;
  bottom: 1em;
  right: 1em;
  -ms-grid-columns: (40px)[3];
      grid-template-columns: repeat(3, 40px);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer__icons .fa {
  color: #FFF;
  text-decoration: none;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: rotate(-4deg) translatey(0px);
            transform: rotate(-4deg) translatey(0px);
  }
  50% {
    -webkit-transform: rotate(4deg) translatey(-20px);
            transform: rotate(4deg) translatey(-20px);
  }
  100% {
    -webkit-transform: rotate(-4deg) translatey(0px);
            transform: rotate(-4deg) translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: rotate(-4deg) translatey(0px);
            transform: rotate(-4deg) translatey(0px);
  }
  50% {
    -webkit-transform: rotate(4deg) translatey(-20px);
            transform: rotate(4deg) translatey(-20px);
  }
  100% {
    -webkit-transform: rotate(-4deg) translatey(0px);
            transform: rotate(-4deg) translatey(0px);
  }
}

@-webkit-keyframes scrolling {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}

@keyframes scrolling {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}

@media only screen and (min-width: 750px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  .homepage__content {
    padding: 8em 12em 4em 12em;
  }
  .homepage__background__hexagon:nth-child(5) {
    left: 87.5%;
    top: 1.5%;
    width: 20%;
  }
  .homepage__content {
    padding: 8em 12em 4em 12em;
  }
  .homepage__figure img {
    width: 80%;
    left: 10%;
  }
  .about__content, .projects, .contact {
    padding: 3em 6em;
  }
  .about__skills__first__grid, .about__skills__second__grid {
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
  .projects__project__content__icons__date {
    display: block;
  }
  .footer__copyright {
    font-size: 14px;
    text-align: center;
  }
  .footer__icons a {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
  .navigation {
    height: 4em;
  }
  .navigation__list {
    font-size: 18px;
  }
  .navigation__list__logo a img {
    width: 50px;
  }
  .navigation__list__item {
    padding: 1em 2em;
  }
  .homepage__background__hexagon {
    -webkit-animation: float 6s ease-in-out infinite;
            animation: float 6s ease-in-out infinite;
  }
  .homepage__background__hexagon:nth-child(1) {
    left: -6%;
    top: 40%;
    width: 17%;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  .homepage__background__hexagon:nth-child(2) {
    left: 40%;
    top: 75%;
    width: 18%;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  .homepage__background__hexagon:nth-child(3) {
    left: 80%;
    top: 40%;
    width: 10%;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .homepage__background__hexagon:nth-child(4) {
    left: 27%;
    top: 12%;
    width: 14%;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .homepage__background__hexagon:nth-child(5) {
    left: 92%;
    top: -6%;
    width: 15%;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  .homepage__content {
    width: 25%;
    padding: 0;
    -webkit-transform: translate(12.5vw, 25vh);
            transform: translate(12.5vw, 25vh);
  }
  .homepage__figure img {
    width: 50%;
    right: -40%;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__content {
    width: 70%;
    padding-right: 2rem;
  }
  .about__skills {
    width: 100%;
    margin-top: 6.25em;
  }
  .about__overlap {
    height: 70px;
  }
  .projects__project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects__project__figure {
    margin: 0em 0 4em 0;
    width: 40%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .projects__project__figure:hover .projects__project__figure__overlay {
    opacity: 0.6;
    cursor: pointer;
  }
  .projects__project__figure__overlay {
    display: block;
    background-color: #444F6B;
    position: absolute;
    width: 100%;
    height: 98.25%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    pointer-events: none;
  }
  .projects__project__figure__overlay__link {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 14px;
  }
  .projects__project__content {
    margin: 1em 0 6em -2em;
    width: 50%;
    height: 60%;
  }
  .projects__project__right {
    margin: 1em -2em 6em 0;
  }
  .projects__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .contact__content {
    background-color: #444F6B;
    width: 50%;
    margin: 0 auto;
    padding: 4em;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  }
  .contact__content__form__input::-webkit-input-placeholder, .contact__content__form__message::-webkit-input-placeholder {
    color: #bebebe;
  }
  .contact__content__form__input:-ms-input-placeholder, .contact__content__form__message:-ms-input-placeholder {
    color: #bebebe;
  }
  .contact__content__form__input::-ms-input-placeholder, .contact__content__form__message::-ms-input-placeholder {
    color: #bebebe;
  }
  .contact__content__form__input::placeholder, .contact__content__form__message::placeholder {
    color: #bebebe;
  }
  .contact__content__form__button {
    margin-top: 4em;
  }
}
/*# sourceMappingURL=main.css.map */